<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Home - CurvePoint - List</title>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div th:insert="navbar.html"></div>

            <div class="row"><h2>Curve Point List</h2></div>

            <div class="row">

                <a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>

                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Curve Point ID</th>
                            <th>Term</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="curvePoint : ${curvePoints}">

                            <td th:text="${curvePoint.getId}">ID</td>
                            <td th:text="${curvePoint.curveId}">Curve Point ID</td>
                            <td th:text="${curvePoint.term}">Term</td>
                            <td th:text="${curvePoint.value}">Value</td>
                            <td>
                                <a th:href="@{/curvePoint/update/{id}(id=${curvePoint.getId()})}">Modify</a>
                                <a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.getId()})}">Remove</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </body>
</html>
